/* Disable header cell on focus */
div.MuiDataGrid-columnHeader:focus-within {
    outline: none !important;
}

/* Disable cell border on focus */
div.MuiDataGrid-row div.MuiDataGrid-cell:focus-within {
    outline: none !important;
}

/* Grid rows */
.datagrid-row-lightgrey {
    background-color: #fafafa;
}